/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 15px 0;
}

.item-double {
  flex: 2;
  margin: 15px 0;
}

.group img {
  width: 100%;
}


/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
}

header nav {
  padding-bottom: 3px;
}

header nav ul {
  display: flex;
  padding: 0px;
  justify-content: center;
}

header nav ul li a {
  color: #ecdbc9;
  font-weight:bold;
  text-decoration: none;
  padding: 0 10px;
}

header nav ul li:last-child a {
  padding: 0px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 15px;
}

.field {
  display: flex;
  justify-content: space-between;
}

form label {
  font-weight: 600;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form button:hover {
  cursor:pointer;
}

form button:active{
  background-color: #650015;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px)
{
  header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .logo {
    font-size: 48px;
  }

  section {
    padding: 10px;
  }

  .group {
    flex-direction: row;
    align-items: center;
  }

  .item-double {
    margin: 10px;
  }

  .item {
    margin: 10px;
  }

}